[role="button"] {
  cursor: pointer;
}

//
// base button style
//
.btn {
  &, &:link, &:visited {
    background-color: var(--brand-primary);
    border: 0;
    border-radius: 3px;
    color: var(--brand-third);
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 3.6rem;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    text-decoration: none;
    transition: opacity .2s;
    text-transform: uppercase;
  }

  &:hover,
  &:focus,
  &:active{
    text-decoration: underline;
    opacity: .75;
  }

  span {
    display: inline-block;
    position: relative;
  }

  //
  // button sizes
  &.btn-sm { font-size: 13px; }
  &.btn-md { font-size: 18px; }
  &.btn-Lg {
    font-size: 22px;
    border-radius: .25em !important;
  }

  //
  // button widths
  &.btn-full,
  &.btn-block {
    &, &:link {
      border-radius: .25em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 100%;
    }
  }
}
