//
// main font
@font-face {
  font-family: 'poppins';
  src: url('#{$font-path}poppins/poppins-regular.woff') format('woff'),
       url('#{$font-path}poppins/poppins-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('#{$font-path}poppins/poppins-italic.woff') format('woff'),
       url('#{$font-path}poppins/poppins-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
}


@font-face {
  font-family: 'poppins';
  src: url('#{$font-path}poppins/poppins-medium.woff') format('woff'),
       url('#{$font-path}poppins/poppins-medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'poppins';
  src: url('#{$font-path}poppins/poppins-medium-italic.woff') format('woff'),
       url('#{$font-path}poppins/poppins-medium-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
}


@font-face {
  font-family: 'poppins';
  src: url('#{$font-path}poppins/poppins-bold.woff') format('woff'),
       url('#{$font-path}poppins/poppins-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'poppins';
  src: url('#{$font-path}poppins/poppins-bold-italic.woff') format('woff'),
       url('#{$font-path}poppins/poppins-bold-italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
}


//
// Icons
@font-face {
  font-family: 'ksbicons';
  src: url('#{$font-path}icons/icons.woff') format('woff'),
       url('#{$font-path}icons/icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
