//
//== Colors
//

// brand colors
$brand-primary: #00B09B !default;
$brand-secondary: #111111 !default;
$brand-third: #FFF !default;

$c-text: #111 !default;
$c-link: $c-text !default;
$c-link-hover: darken($c-text, 15%) !default;


//
//== Typography
//
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-size-base: 1.6rem !default;
$font-weight-normal: normal !default;
$font-weight-bold: 600 !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;


//
// Grid
//
$breakpoints: (
  mobile: 576px,
  tablet: 992px,
  desktop: 1200px,
  desktop-lg: 1540px
);

$screen-desktop-lg: map_get($breakpoints, desktop-lg) !default;
$screen-desktop: map_get($breakpoints, desktop) !default;
$screen-mobile: map_get($breakpoints, mobile) !default;
$screen-tablet: map_get($breakpoints, tablet) !default;

$screen-mobile-max: $screen-tablet - 1 !default;
$screen-mobile-min: 0 !default;

$screen-tablet-max: $screen-desktop - 1 !default;
$screen-tablet-min: $screen-tablet !default;

$screen-desktop-max: $screen-desktop-lg - 1 !default;
$screen-desktop-min: map_get($breakpoints, desktop) !default;

$screen-desktop-lg-min: map_get($breakpoints, desktop-lg-min) !default;


//
// Bootstrap
// grid variables
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$enable-grid-classes: true !default;
$bs-grid-breakpoints: (
  xs: 0,
  sm: map_get($breakpoints, 'mobile'),
  md: map_get($breakpoints, 'tablet'),
  lg: map_get($breakpoints, 'desktop'),
  xl: 1200px
);
$bs-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1140px,
  xl: 1440px
);
$bs-grid-columns: 12 !default;
$bs-grid-gutter-width: 30px !default;

//
// Paths
$img-path: '/img/' !default;